.carousel-inner {
  width: 100%;
  height: 500px !important; }

.managerBanner{
  width:100%;
  height:600px;
}
/*?????????????????????? why css doesn't work for changing my manager page banner size????*/
/*should i remove the custom.scss and keep the custom.css*/

.thumbnails {
  max-width: 90%; }

.item {
  padding: 20px; }

.img-thumbnail {
  margin-bottom: 30px; }

.item h2 {
  text-transform: capitalize;
  }

.registerNowContainer {
  max-width: 90%;
  margin: 0 auto;
  background-color: grey;
  padding: 10px 30px; }

.registerNow {
  padding: 10px 40px; }
  .registerNow p {
    font-size: 1.2em;
    text-transform: capitalize;
    font-weight: 700;
    padding: 0;
    margin: 15px 0; }
  .registerNow button {
    padding: 7px 30px;
    margin: 15px 0; }

.registerBtn {
  text-align: right; }

@media screen and (max-width: 767px) {
  .nav navbar{
    
  }
  
  .registerNow {
    text-align: center; }
  button {
    margin: 15px auto; }
  .registerBtn {
    text-align: center; } }
