.carousel-inner {
  width: 100%;
  max-height: 800px; 
  
}

.managerBanner{
  width:100%;
  max-height:600px;
}

.logoBanner{
  display: block;
  margin: 10px auto;
}

.card-first{
  padding-bottom: 21px;
  padding-top: 20px;
}

.item h2 {
  text-transform: capitalize;
  }

.registerNowContainer {
  max-width: 90%;
  margin: 0 auto;
  background-color:#1cd2ef;
  padding: 10px 30px; }

.registerNow {
  padding: 10px 40px; 
  
}

  .registerNow p {
    font-size: 1.2em;
    text-transform: capitalize;
    font-weight: 700;
    padding: 0;
    margin: 15px 0; 
  }
  
  .registerNow button {
    padding: 7px 30px;
    margin: 15px 0; 
  }
  
  .define{
    text-align: center;
  }

.registerBtn {
  text-align: right; 
}

.spinner{
  max-width:30px;
}

@media only screen and (max-width: 767px) {
  .navbar-toggler{
    margin: 0px;
  }
  
  .registerNow {
    text-align: center; 
  }
  
  button {
    margin: 15px auto; 
  }
    
  .registerBtn {
    text-align: center; 
    
  } 
}

/*@media only screen and (max-width: 767px) {*/
/*  .table-dark{*/
/*    font-size: 0.8em;*/
/*  }*/
/*}*/
